# VS / build
.vs/
**/bin/
**/obj/
*.user
*.suo

# Local DB files
*.mdf
*.ldf

# NuGet packages (restore later)
**/packages/

# Logs & misc
[Bb]uild/
[Ll]og/
iisexpress/

# Resharper/Rider
_ReSharper*/
*.DotSettings.user

# ASP.NET cache
App_Data/
